.paymentDiv {
    width: 100%;
    text-align: center;
    font-size: 15px;
}
.ant-modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-icon {
    padding-left: 10px;
}